.App {
  background: url("pioggia-2.jpg");
  height: 100vh;
  width: 100%;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}
.block{
  background-color: #272e3a;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 90vh;

  border: 1px solid lightblue;
  border-radius: 5vh;
  box-shadow: 0 0 30px rgba(0.5,1,0.2,0.9);
}
.form1{
  background-color: #272e3a;
  margin-top: 10vh;
  width: 50%;
  border-radius: 5vh;

}
.title{
  background:url("rainy-weather-wallpaper.jpg");
  background-size: cover;
  width: 50%;
  border-radius: 5vh 0 0 5vh;
}
.form2{
  display: flex;
  flex-direction:column;
}
input{
  width: 25%;
  margin: 2vh;
  border: none;
  border-bottom: 1px solid lightgray;
  background: #272e3a;
  color: lightblue;
}
p{
  color: lightblue;
  font-size: 20px;
}
h1{
  color: lightblue;
}
.weather{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn{
 margin-left: 10px;
  background-color:#253247;
  color: lightblue;
}
.clearsky{
  background: url("sunny.png");
  height: 20vh;
  width: 20vh;
  background-size: 100% 100%;
}
.haze{
  background: url("haze3.png");
  height: 10vw;
  width: 10vw;
  background-size: 100% 100%;
}
.overcastclouds{
  background: url("overcast.png");
  height: 10vw;
  width: 10vw;
  background-size: 100% 100%;
}
.fewclouds{
  background: url("few.png");
  height: 10vw;
  width: 10vw;
  background-size: 100% 100%;
}
.lightrain{
  background: url("lightrain.png");
  height: 10vw;
  width: 10vw;
  background-size: 100% 100%;
}
.scatteredclouds{
   background: url("sct.png");
   height: 10vw;
   width: 10vw;
   background-size: 100% 100%;
 }
.mist{
  background: url("mist.png");
  height: 10vw;
  width: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.brokenclouds{
  background: url("broken.png");
  height: 10vw;
  width: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.moderaterain{
  background: url("rain.png");
  height: 10vw;
  width: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.showerrain{
  background: url("rain.png");
  height: 10vw;
  width: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.lightintensityshowerrain{
    background: url("rain.png");
    height: 10vw;
    width: 10vw;
    background-size: contain;
    background-repeat: no-repeat;
}
h2{
  color: orangered;
}
.heavyintensityrain{
  background: url("rain.png");
  height: 10vw;
  width: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.drizzle{
  background: url("drizzle.png");
  height: 10vw;
  width: 10vw;
  background-size: 100% 100%;
}
